.car {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.2s ease, transform 0.3s ease;
}

.car:hover {
    border-color: var(--accent-color);
    transform: translateY(-3px);
}

.car__title {
    grid-column: 1;
    display: flex;
    gap: 5px;
    font-size: clamp(16px, 13.18px + 0.75vw, 24px);
    margin-block-end: 5px;
}

.car__info {
    grid-column: 1;
    font-size: clamp(12px, 10.59px + 0.38vw, 16px);
}

.car__delete-btn {
    grid-row: 1 / span 2;
    grid-column: 2;
    padding: 5px;
    font-size: clamp(12px, 10.59px + 0.38vw, 16px);
}