#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    block-size: 100dvh;
    padding-block: 5px;
    background-color: var(--body-bg-color);
    color: var(--main-font-color);
    font-family: Sansation, sans-serif;
}

.section {
    inline-size: clamp(350px, 50.70px + 79.81vw, 1200px);
    background-color: var(--bg-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
}

.header {
    padding: 10px 5px;
    font-weight: 700;
    font-size: clamp(20px, 15.77px + 1.13vw, 32px);
}

.header__title {
    transition: text-shadow 0.3s;
}

.header__title:hover {
    text-shadow: 3px 3px var(--accent-color);
}

.main {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    block-size: 85dvh;
    overflow-x: hidden;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: var(--main-font-color);
    cursor: pointer;
    transition: border-color 0.2s, transform 0.2s;
}

.button:focus {
    outline: none;
}

.button:focus-visible, .button:hover {
    border-color: var(--accent-color);
    transform: translateY(-2px);
}

.side-open {
    position: absolute;
    display: flex;
    align-items: center;
    block-size: 40px;
    inline-size: 20px;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%) translateX(100%);
    padding: 2px;
    background-color: var(--accent-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    cursor: pointer;
}