@import url(./fonts/fonts.css);
@import url(./variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
header,
main,
footer,
input,
button {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

button,
input {
  font-family: inherit;
}