.sort-window {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    block-size: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s;
    background-color: var(--accent-color);
}

.sort-window.opened {
    z-index: 2;
    transform: translateX(0);
}

.main:has(.opened) .cars-list{
    pointer-events: none;
}

.sort-form__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.sort-option {
    inline-size: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding-block: 5px;
    background-color: var(--button-bg-color);
    color: var(--main-font-color);
    transition: all 0.2s;
    font-size: clamp(12px, 10.59px + 0.38vw, 16px);
}

.sort-option:hover {
    border-color: #ccc;
}

.sort-option__picked {
    background-color: var(--accent-color);
    border-color: #232323;
    color: #232323;
}