.sort-window {
    position: absolute;
    display: flex;
    align-items: center;
    block-size: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s;
    background-color: var(--accent-color);
}

.sort-window.opened {
    transform: translateX(0);
}

.sort-window.opened + .cars-list {
    pointer-events: none;
}

.sort-window__open {
    position: absolute;
    z-index: 1;
    block-size: 40px;
    inline-size: 20px;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%) translateX(100%);
    background-color: var(--accent-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    cursor: pointer;
}

.sort-window__open svg {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.sort-form__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.sort-option {
    inline-size: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding-block: 5px;
    background-color: var(--button-bg-color);
    color: var(--main-font-color);
    transition: all 0.2s;
}

.sort-option:hover {
    border-color: #ccc;
}

.sort-option__picked {
    background-color: var(--accent-color);
    border-color: #232323;
    color: #232323;
}